@font-face {
   font-family: 'Cairo-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Programmer/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-19_153152/fonts/Cairo-Medium/font.ttf');
}
